<% layout('layouts/boilerplate') %>

<style>
    .message:hover {
        cursor: pointer;
    }
</style>


<div class="d-flex">
    <div class="row mx-auto">
        <div class="col mt-4">
            <div class="mb-5">
                <h1 class="text-center">Your Networks</h1>
                <h4 class="text-center">Click to see their profile</h4>
            </div>
            <% for(let network of receiver.networks) {%>

            <!-- <div data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample">
                Button with data-bs-target
            </div> -->

            <% if(network.profile) {%>

            <div class="message row card mb-2" data-bs-toggle="collapse" aria-expanded="false">
                <div class="col mt-3">
                    <div class="d-flex">
                        <img src="<%= network.profile.images.round %> " alt="" class="me-3">
                        <h4><%= network.profile.name %>, <%= network.profile.age %> </h4>
                    </div>
                </div>
                <div class="col card-body">
                    <p><b>Contact</b>: <%= network.profile.contact %> </p>
                </div>
            </div>

            <div class="profileDetail card mb-3 mx-auto w-70 collapse">
                <div class="row">
                    <div class="col mt-3 mx-auto">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="<%= network.profile.images.thumbnail %>" class="img-fluid">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h1 class="card-title"><%= network.profile.name %>,
                                        <%= network.profile.age %>
                                    </h1>
                                    <p class="card-text">
                                        <b>About:</b> <%= network.profile.description %>
                                    </p>
                                    <h5>My Daly Task</h5>
                                    <ul class="list-group list-group-flush">
                                        <% for (task of network.profile.dailyTask) { %>
                                        <li class="list-group-item"><%= task %></li>
                                        <% } %>
                                    </ul>
                                    <p><b>Contact</b>: <%= network.profile.contact %></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <% } %>
            <% } %>


        </div>
    </div>
</div>

<script>
    const messages = document.querySelectorAll('.message')
    const profiles = document.querySelectorAll('.profileDetail')
    console.dir(messages)
    console.dir(profiles)
    for (let i = 0; i < messages.length; i++) {
        messages[i].setAttribute('data-bs-target', `#collapse${i}`)
        profiles[i].setAttribute('aria-controls', `collapse${i}`)
        profiles[i].setAttribute('id', `collapse${i}`)
    }
</script>